apiVersion: apps/v1
kind: Deployment
metadata:
  name: restapi-deployment
  image: vedantatugade/java-project
spec:
  replicas: 3
  selector:
    matchLabels:
      app: restapi
  template:
    metadata:
      labels:
        app: restapi
    spec:
      containers:
      - name: restapi-container
        image: vedantatugade/java-project
        ports:
        - containerPort: 7000
